<p style="background-color:yellow"><b>Hacker News Notify is no longer Hacker News. If you stumbled upon this site and think the service may benefit you, send me an email and I may turn the scan script back on.</b>
</p>
<p>
  <b>What is this website?</b><br />
  This site allows users to be notified via email or RSS when someone has submitted something to Hacker News with a certain phrase in the title, by a certain user, or from a particular domain. Currently, Hacker News' "New Links" (<a href="http://news.ycombinator.com/newest">http://news.ycombinator.com/newest</a>) is scanned every fifteen minutes.
</p>
<p>
  <b>Why use this website?</b><br />
  <ul>
    <li>As many know, Hacker News can become quite a time sink if you're not too careful. If you're in a situation where you don't want very many distractions, this site can notify you of a submission you might not want to miss.</li>
    <li>If you have a blog or website that occasionally gets submitted to Hacker News, this site can immediately notify you when someone submits a link from a domain of yours.</li>
  </ul>
</p>
<p>
  <b>User Trends</b><br />
  See the latest and most followed domains, keywords, and users.<br />
  <span style="font-size:9px;">*Coming real soon, need to get some other users in here first (or you'd just be looking at my watchlist).</span><br /> 
</p>
